body{
    background-image: url(http://hdw.datawallpaper.com/architecture/nashville-tennessee-desktop-background-492470.jpg);
    background-size: auto;

}

#heading{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d8e0ee;
    font-size: 40px;
    background-color: rgba(79, 68, 68, 0.50);
    height: 50px;
    width: 700px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 10px;
}
.main-weather{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #d8e0ee;
    background-color: rgba(79, 68, 68, 0.50);
    height: 600px;
    width: 700px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 10px;
}

#weather-forecast{
    font-size: 40px;
    text-align: center;
    position:relative;
    top: 290px;
    
}

#weather-temp{
    font-size: 120px;
    position: relative;
    left: 400px;
    top: 70px;
    
}
#icon-humidity{
    position: relative;
    right: 50px;
    top: 150px;
}
#weather-humidity{
    position: relative;
    top:300px;
    left: 138px;
    font-size: 40px;
}
#icon-wind{
    position: relative;
    bottom: 135px;
    left: 330px;
}
#weather-wind{
    position: relative;
    bottom: 7px;
    left: 515px;
    font-size:40px;
}