body{
    background-image: url(http://hdw.datawallpaper.com/architecture/nashville-tennessee-desktop-background-492470.jpg);
}

#heading{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d8e0ee;
    font-size: 40px;
    background-color: rgba(79, 68, 68, 0.50);
    height: 50px;
    width: 700px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 10px;
}
.main-weather{
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #d8e0ee;
    background-color: rgba(79, 68, 68, 0.50);
    height: 600px;
    width: 700px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 10px;
}

#weather-forecast{
    font-size: 40px;
    position: absolute;
    bottom: 200px;
    right: 220px;
}
